<div class="container d-flex flex-column h-100 pt-5">
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="">
      <h1 style="color: #FF6300">Login</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center align-content-center">
      <div class="col-10 bg-white pb-4 pt-4 rounded">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>