<% if signed_in? %> 
  <div class="container d-flex flex-column h-100 pt-5">
    <div class="container pb-5">
      <div class="row justify-content-center">
        <div class="">
        <h1 style="color: #FF6300">Write your article</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center align-content-center">
        <div class="col-10 bg-white pb-4 pt-4 rounded">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center" style="min-height: 45rem;">
      <div class="card">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h4 class="card-title">OOPS There was a problem</h4>
          <p class="card-text"><i class="fas fa-dizzy fa-3x"></i></p>
          <h6 class="card-subtitle mb-2">Its seems that you didnt Login</h6>
          <p>
          You can
          <%= link_to "Login", login_path, style: 'text-decoration: none; color: #FF6300;' %>
          or
          <%= link_to "Register", new_user_path, style: 'text-decoration: none; color: #FF6300;' %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>