
<div class="container h-100">
  <div class="row justify-content-center align-items-center" style="min-height: 45rem;">
    <div class="card" style= 'height: 35rem;' >
      <div class="card-img-top" style= 'height: 20rem;'>
        <%= image_tag @article.image.url, class: 'h-100 w-100', style: 'object-fit: cover;' %>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= @article.title %></h4>
        <% display_category_name(@article.categories) %>
        <p class="card-text">
          <%= @article.text %>
        </p>
        <% if signed_in? %>
          <%= link_to '<i class="fas fa-dog fa-3x" style="color: #FF6300;"></i>'.html_safe, votes_path(votes: { article_id: @article.id }), method: :post %>
        <% end %>
      </div>
    </div>
  
  </div>
</div>
