
<div class="container h-100">
  <div class="row justify-content-center align-items-center pt-5">
    <div class="article-show" >
      <div class='article-image__container'>
        <%= image_tag @article.image.url, class: 'article-img' %>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= @article.title %></h4>
        <% display_category_name(@article.categories) %>
        <p class="card-text">
          <%= @article.text %>
        </p>
        <%= display_vote %>
      </div>
    </div>
  </div>
</div>
