
<div class="container">
<div class="row justify-content-center">
  <div class="">
   <h1 style="color: #FF6300">Register</h1>
  </div>
</div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 bg-white pb-4 pt-4 rounded">
      <%= render 'form' %>
    </div>
  </div>
</div>