<% unless @article.nil? %>
  <div class="card" style='border: 0;'>
      <div style='width: 100vw; height: calc(100vh - 300px - 130px); over-flow: hide;'>
        <%= image_tag @article.image.url, style: "width: 100%; height: 100%; object-fit: cover; object-position: 50% 40%;", alt: "Responsive image"%>
      </div>
      <div class="card-img-overlay">
        <div class="h-75 d-flex flex-column justify-content-end align-items-start">
          <h4 class="card-text" style="color: #FA6000"><%= @article.title %></h4>
          <p class="card-text text-white font-weight-bolder text-center"><%= @article.text %></p>
        </div>
      </div>

  </div>


  <div class="card-index-group">
    <% display_category_index(@categories) %>
  </div>
<% end %>