<div class="card-group">
  <% @categories.each do | category | %>
    <div class="card">
      <img class="card-img" src="/images/pathToYourImage.png" alt="Card image">
      <div class="card-img-overlay">
        <h4 class="card-title"><%= category.name %></h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  <% end %>
</div>