<div class="container h-100">
  <div class="row justify-content-center align-items-center" style="min-height: 45rem;">
    <div class="card-group">
      <% display_category_show(@article_category, @category) %>
    </div>
  </div>
</div>