<div class="container-fluid d-flex flex-row justify-content-center" style='height: 78rem;'>
  <div>
    <div class="card-group">
      <% display_category_show(@article_category, @category) %>
    </div>
  </div>
</div>