<div class="container-fluid d-flex flex-row justify-content-center" style='min-height: max-content;'>
  <div>
    <div class="card-group">
      <% display_category_show2(@article_category, @category) %>
    </div>
  </div>
</div>