<div class="container h-100">
  <div class="row justify-content-center align-items-center" style="min-height: 45rem;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">something</h4>
        <h6 class="card-subtitle mb-2 text-muted">something</h6>
        <p class="card-text">
          something else
        </p>
        <a href="#!" class="card-link">Card link</a>
      </div>
    </div>
  
  </div>
</div>