<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">TailStyle</a>
      <div class="justify-content-center navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Alimentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Helthy Life</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Grooming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Toys</a>
          </li>
        </ul>
      </div>
      <div class="justify-content-end">
        <ul class="navbar-nav">
        <% if signed_in? %>
          <li class="nav-item">
            <p class="navbar-text m-0"><%= current_user.username %></p>
            
          </li>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %> 
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link" %> 
          </li>
          <li class="nav-item">
            <%= link_to "Register", new_user_path, class: "nav-link" %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>